@include layer("utilities") {

  /* 
  * Hidden but not for an assistive technology like a screen reader, Yahoo! method 
  */
  .visually-hidden {
    position: absolute !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
  }

  .h1-like,
  .h2-like {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .h3-like,
  .h4-like,
  .h5-like,
  .h6-like {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}